$primary-font:'Roboto', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$icon-font: 'themefisher-font';

$white: #FFFFFF;
$black: #000000;
$gray-0: #F4F4F4;
$gray-1: #E7E7E7;
$gray-2: #ACACAC;
$gray-3: #6E6E6E;
$gray-4: #4B566C;
$gray-5: #3E4E5A;
$purple: #C375ED;
$red: #E04E4E;
$blue: #539CF0;
$cyan-0: #25C2D4;
$cyan-1: #1FA5B4;
$yellow: #E29E1E;
$orange: #E3703D;
$green: #7CBC46;

$blue-gradient: radial-gradient(circle,rgba(83,156,240,1) 0%,rgba(72,128,193,1) 100%);


////
$primary-color: #3E4E5A;
$secondary-color: #6E6E6E;

// $btn-primary: #539CF0;
// $btn-secondary: #26ae60;
// $btn-success: #449d44;

// $border-color:#dedede;


