{{ define "main" }}

<!-- BANNER -->
{{ with .Params.banner }}
  {{ if .enable }}
    <section class="child-top">
      <div class="container">
        <div class="row mx-auto d-flex justify-content-center text-center">
          <div class="col-md-12">
              <h1 class="">{{ .title | markdownify }}</h1>
              <h2>{{ .subtitle | markdownify }}</h2>
              {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
              {{ with .button }}
                {{ if .enable }}
                  <a href="{{ .link | relURL }}" class="btn-m btn-blue btn-round animated fadeInUp">{{ .label }}</a>
                {{ end }}
              {{ end }}
            </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- END BANNER -->

<section class="child-overview">
  <div class="container h-block">
    <div class="row mx-auto d-flex justify-content-center text-center">
      <div class="col-md-8">
        <h3 class="text-center text-uppercase fw-bold">Overview</h3>
        <p>Conholdate Apps is a cross platform online tools for document automation, management and manipulation. 
          Which allows you to edit, merge, convert, view, sign word, pdf, powerpoint (ppt, pptx) and OpenOffice document online just with few clicks.
          We offer simple, clean and intuitive UI/UX for your workflow to be as easy as possible. Conholdate Apps is FREE and doesn't require an registration.
          However, if you are looking for an document automation you should consider to sign-in, which is also FREE.
          For registered users we prepared some enterprise features and document automation processes. 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="child-started">
  <div class="container h-block">
    <div class="row mx-auto d-flex justify-content-center text-center">
      <div class="col-md-6">
        <h4>Share and collaborate with your teammates, colleges and clients</h4>
        <p></p>
      </div>
      <div class="col-md-6">
        <img alt="sharing" src="/images/sharing.svg">
      </div>
    </div>
  </div>
</section>
{{ end }}