{{ with .Params.banner }}
  {{ if .enable }}
    <section class="{{ .bannerType | markdownify }}-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h1 class="">{{ .title | markdownify }}</h1>
              <h2>{{ .subtitle | markdownify }}</h2>
              {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
              {{ with .button }}
                {{ if .enable }}
                  <a href="{{ .link | relURL }}" class="btn-m btn-blue btn-round animated fadeInUp">{{ .label }}</a>
                {{ end }}
              {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}