{{ define "main" }}

<!-- BANNER -->
{{- partial "banner.html" . -}}
<!-- END BANNER -->

<!-- PRODUCTS -->
{{ with .Params.products }}
  {{ if .enable }}
    <section class="home-products">
      <div class="container h-block">
        <div class="row">
          <h3 class="text-center text-uppercase fw-bold">{{ .title | markdownify }}</h3>
        </div>
        <!-- Start Loop -->
        {{ range .product }}
        <div class="row pb-5 pt-5">
          <div class="col-md-8 mx-auto d-flex justify-content-center">
            <div class="col-md-4 text-end">
              <img alt="{{ .title | markdownify }}" src="{{ .image | relURL }}">
            </div>
            <div class="col-md-8 pt-4 ps-5">
              <h4>{{ .title | markdownify }}</h4>
              <p>{{ .description | markdownify }}</p>
              <a class="btn-s btn-blue btn-round animated fadeInUp" href="{{ .link | relURL }}">{{ .linkText | markdownify }}</a>
            </div>
          </div>
        </div>
        {{ end }}
        <!-- End Loop -->
        <div class="row mx-auto d-flex justify-content-center mt-5 pt-5">
          <a class="btn-l btn-orange btn-round animated fadeInUp" href="{{ .singleLink | relURL }}">{{ .singleLinkText | markdownify }}</a>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- END PRODUCTS -->

<!-- STATS -->
{{ with .Params.stats }}
  {{ if .enable }}
    <section class="home-stats">
      <div class="conntainer h-block">
        <div class="row">
          <div class="col-md-3 text-center">
            <h1 id="documents"> 0 </h1>
            <p>{{ .all | markdownify }}S</p>
          </div>
          <div class="col-md-3 text-center">
            <h1 id="viewer"> 0 </h1>
            <p>{{ .viewed | markdownify }}</p>
          </div>
          <div class="col-md-3 text-center">
            <h1 id="conversion"> 0 </h1>
            <p>{{ .converted | markdownify }}</p>
          </div>
          <div class="col-md-3 text-center">
            <h1 id="editor"> 0 </h1>
            <p>{{ .edited | markdownify }}</p>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- END STATS -->

{{ end }}
